.navigation .navbar{
    background-color: #242733 !important;
    color: aliceblue;
    padding: 8px 30px;
    height: 58px;
}

.navbar-light .navbar-brand {
    color: #ff304d !important;
}
.navbar-light .navbar-nav .nav-link {
    color: rgba(240, 238, 238, 0.904) !important;
}